.contact-form31-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form31-image1 {
  flex: 1;
  width: 542px;
  height: 615px;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact-form31-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form31-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form31-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form31-button {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  font-style: normal;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #BF4408;
}
.contact-form31-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form31-textarea {
  height: 100px;
  align-self: stretch;
}
.contact-form31-checkbox {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.contact-form31-text3 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-form31-button1 {
  align-self: flex-start;
}
.contact-form31-root-class-name {
  background-color: var(--dl-color-theme-neutral-light);
}
@media(max-width: 991px) {
  .contact-form31-max-width {
    flex-direction: column;
  }
  .contact-form31-content {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-form31-image1 {
    width: 100%;
  }
}
