.sign-up7-container {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.sign-up7-sign-up-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.sign-up7-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
.sign-up7-form-root {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-up7-form {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  max-width: 500px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--dl-color-theme-neutral-light);
}
.sign-up7-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up7-text {
  text-align: center;
}
.sign-up7-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-up7-button {
  width: 100%;
}
.sign-up7-text2 {
  text-align: center;
}
.sign-up7-button1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.sign-up7-icon {
  width: 24px;
  height: 24px;
}
.sign-up7-text3 {
  text-align: center;
}
.sign-up7-button2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.sign-up7-icon2 {
  width: 24px;
  height: 24px;
}
.sign-up7-text4 {
  text-align: center;
}
.sign-up7-text5 {
  font-size: 16px;
  text-align: center;
}
@media(max-width: 991px) {
  .sign-up7-form-root {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .sign-up7-form-root {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up7-form {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up7-text {
    text-align: center;
  }
  .sign-up7-button {
    width: 100%;
  }
  .sign-up7-button1 {
    width: 100%;
  }
  .sign-up7-button2 {
    width: 100%;
  }
  .sign-up7-text8 {
    text-align: center;
  }
}
