.timeline7-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline7-container01 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline7-text {
  text-align: center;
}
.timeline7-text01 {
  text-align: left;
}
.timeline7-container02 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline7-timeline-container {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline7-step1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container03 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container04 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress0 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container05 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text03 {
  text-align: left;
}
.timeline7-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.timeline7-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container07 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container08 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container09 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text06 {
  text-align: left;
}
.timeline7-container10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.timeline7-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container11 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container13 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text09 {
  text-align: left;
}
.timeline7-container14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.timeline7-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container15 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container16 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container17 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text12 {
  text-align: left;
}
.timeline7-container18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .timeline7-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .timeline7-max-width {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .timeline7-text01 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline7-text03 {
    text-align: left;
  }
  .timeline7-text06 {
    text-align: left;
  }
  .timeline7-text09 {
    text-align: left;
  }
  .timeline7-text12 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline7-max-width {
    padding: var(--dl-space-space-unit);
  }
  .timeline7-container06 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline7-container10 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline7-container14 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline7-container18 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
